// Modifying existing variables
$primary: #668396;
$secondary: #F8A626;
$success: #9AB06C;
$body-bg-dark: #424242;

// Adding custom themes

// import functions + variables 
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// Custom theme colors
$custom-map: (
    "accent": #343330,
    "background": #4A4945
);

$theme-colors: map-merge($custom-map, $theme-colors);

// import bootstrap - goes last to not override custom variables
@import "../node_modules/bootstrap/scss/bootstrap";

.modal-content {
    --bs-border-color: #{$primary};
}