#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: transform;
  transition: transform 200ms;
}
.logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.whitetext{
  color: white;
}