.nav{
  margin-bottom: 1em;
}

.logo {
  height: 3em;
  margin: 0 0 0 1em;
  will-change: transform;
  transition: transform 200ms;
}
.logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.whitetext{
  color: white;
}

.image{
  width: 100%;
  max-width: 10em;
  height: auto;
}